<section class="subjects">
  <div class="subjects__header">
    <p-button (click)="editSubject()" label="Adicionar" styleClass="p-button-sm p-button-success">
    </p-button>
  </div>
  <p-table
    [value]="subjects"
    [scrollable]="true"
    [loading]="isLoading"
    scrollHeight="600px"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{'min-width': '100%'}">
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn>Id</th>
        <th pResizableColumn>Nome</th>
        <th style="width: 100%" pResizableColumn>Descrição</th>
        <th pResizableColumn>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subject>
      <tr>
        <td class="overflow">{{ subject.id | shorten: 8 : '...' }}</td>
        <td class="overflow">{{ subject.name }}</td>
        <td class="overflow">
          {{ !!subject.description ? (subject.description | shorten: 40 : '...') : '' }}
        </td>
        <td style="display: flex; gap: 16px">
          <p-button
            (click)="editSubject(subject)"
            label="Editar"
            styleClass="p-button-sm p-button-warning">
          </p-button>

          <p-button
            (click)="deleteSubject(subject.id)"
            label="Excluir"
            styleClass="p-button-sm p-button-danger">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
