<section class="subjects">
  <div class="subjects__header">
    <div class="subjects__title">Lista de Matérias</div>
    <p-button
      [disabled]="!canCreate"
      (onClick)="createSubject()"
      label="Adicionar"
      styleClass="p-button-sm p-button-success">
    </p-button>
  </div>
  <p-table
    #pTable
    [value]="subjects"
    [scrollable]="true"
    [loading]="isLoading"
    scrollHeight="600px"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{'min-width': '100%'}"
    [globalFilterFields]="['id', 'name', 'description', 'status']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Pesquisar..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" pResizableColumn>Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name" pResizableColumn>Nome <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description" style="width: 100%" pResizableColumn>
          Descrição <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="status" pResizableColumn>
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pResizableColumn *ngIf="canUpdate || canDelete">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subject>
      <tr>
        <td class="overflow">{{ subject.id | shorten: 8 : '...' }}</td>
        <td class="overflow">{{ subject.name }}</td>
        <td class="overflow">
          {{ !!subject.description ? (subject.description | shorten: 30 : '...') : '' }}
        </td>
        <td class="overflow">{{ subject.status }}</td>
        <td style="display: flex; gap: 16px" *ngIf="canUpdate || canDelete">
          <p-button
            [disabled]="!canUpdate"
            (onClick)="updateSubject(subject)"
            label="Editar"
            styleClass="p-button-sm p-button-warning">
          </p-button>

          <p-button
            [disabled]="!canDelete"
            (onClick)="deleteSubject(subject)"
            label="Excluir"
            styleClass="p-button-sm p-button-danger">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
