.subjects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    border-radius: 8px;
    background-color: #f4f4f4;
    gap: 16px;
  }

  &__table {
    display: block;
  }

  .overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
