.question-crud {
  display: grid;
  gap: 24px;
  grid-template-columns: 768px auto;

  .form-question {
    display: flex;
    flex-direction: column;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .label {
        font-weight: bold;
      }

      .grid-wrapper {
        display: grid;
        align-items: center;
        gap: 8px;
        grid-template-columns: 1fr 52px;
      }

      .grid-row {
        display: grid;
        gap: 8px;
        grid-template-areas:
          'subject    topics  topics  difficultyLevel'
          'institute  year    type    status';
        grid-template-columns: 170px 1fr 1fr 170px;

        .subject {
          grid-area: subject;
        }

        .topics {
          grid-area: topics;
        }

        .difficultyLevel {
          grid-area: difficultyLevel;
        }

        .institute {
          grid-area: institute;
        }

        .year {
          grid-area: year;
        }

        .type {
          grid-area: type;
        }

        .status {
          grid-area: status;
        }
      }
    }

    &__actions {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 1fr;
    }
  }

  // Custom components
  /* stylelint-disable */
  angular-editor {
    &.ng-dirty.ng-invalid::ng-deep {
      .angular-editor-wrapper {
        &:focus,
        &:focus-visible {
          outline: none;
        }
      }

      .angular-editor-textarea {
        border: 2px solid #f00;

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
    }

    .angular-editor-button::ng-deep {
      i {
        font-size: 16px;
      }
    }
  }
  /* stylelint-enable */
}
