.question-crud {
  display: flex;
  gap: 24px;

  .form-question {
    display: flex;
    width: 800px;
    flex-direction: column;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .editor {
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        .NgxEditor__MenuBar {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .NgxEditor {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border: none;
        }

        .CodeMirror {
          border: 1px solid #eee;
          height: auto;
          margin-bottom: 0.7rem;

          pre {
            white-space: pre !important;
          }
        }
      }

      .label {
        font-weight: bold;
      }

      .checkbox {
        width: 32px;
        height: 32px;
      }

      .grid-wrapper {
        display: grid;
        align-items: center;
        gap: 8px;
        grid-template-columns: 1fr auto;
      }

      .grid-row {
        display: grid;
        gap: 16px;
        grid-template-areas:
          'subject    topics  topics  difficultyLevel'
          'institute  year    type    status';
        grid-template-columns: 1fr 1fr 1fr 200px;

        .subject {
          grid-area: subject;
        }

        .topics {
          grid-area: topics;
        }

        .difficultyLevel {
          grid-area: difficultyLevel;
        }

        .institute {
          grid-area: institute;
        }

        .year {
          grid-area: year;
        }

        .type {
          grid-area: type;
        }

        .status {
          grid-area: status;
        }
      }
    }

    &__actions {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
