<section class="questions" *ifCanRead>
  <div class="questions__header">
    <div class="questions__title">Lista de Questões</div>
    <p-button
      *ifCanCreate
      (onClick)="createQuestion()"
      label="Adicionar"
      styleClass="p-button-sm p-button-success">
    </p-button>
  </div>
  <p-table
    #pTable
    [value]="questions"
    [scrollable]="true"
    [loading]="isLoading"
    scrollHeight="calc(100vh - 202px)"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{'min-width': '100%'}"
    [globalFilterFields]="['id', 'statement', 'type', 'difficultyLevel', 'subjectId', 'status']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Pesquisar questão..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" pResizableColumn>Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="statement" style="width: 100%" pResizableColumn>
          Enunciado <p-sortIcon field="statement"></p-sortIcon>
        </th>
        <th pSortableColumn="type" pResizableColumn>Tipo <p-sortIcon field="type"></p-sortIcon></th>
        <th pSortableColumn="difficultyLevel" pResizableColumn>
          Dificuldade <p-sortIcon field="difficultyLevel"></p-sortIcon>
        </th>
        <th pSortableColumn="subjectId" pResizableColumn>
          Matéria <p-sortIcon field="subjectId"></p-sortIcon>
        </th>
        <th pResizableColumn>Tópicos</th>
        <th pSortableColumn="status" pResizableColumn>
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pResizableColumn *ifCanUpdate>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
      <tr>
        <td
          class="overflow"
          style="cursor: pointer"
          pTooltip="Clique para copiar"
          tooltipPosition="top"
          tooltipEvent="hover"
          (click)="copyToClipboard(question.id)">
          {{ question.id | shorten: 6 : '...' }}
        </td>
        <td class="overflow">{{ question.statement | shorten: 60 : '...' }}</td>
        <td class="overflow">{{ question.type }}</td>
        <td class="overflow">{{ question.difficultyLevel }}</td>
        <td class="overflow">{{ question.subjectId | findSubject }}</td>
        <td class="overflow">{{ question.relatedTopicIds | findRelatedTopics }}</td>
        <td class="overflow">{{ question.status }}</td>
        <td style="display: flex; gap: 16px" *ifCanUpdate>
          <p-button
            (onClick)="updateQuestion(question)"
            label="Editar"
            styleClass="p-button-sm p-button-warning">
          </p-button>

          <p-button
            *ifCanDelete
            (onClick)="deleteQuestion(question)"
            label="Excluir"
            styleClass="p-button-sm p-button-danger">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
