.side-menu {
  display: flex;
  min-width: 256px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-right: 1px solid #000;
  background-color: #343a40;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    display: flex;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    gap: 8px;
    opacity: 0.5;
    text-decoration: none;
    transition: all 200ms ease;

    &--active {
      background-color: #007bff;
      font-weight: bold;
      opacity: 1;
    }

    &:hover:not(&--active) {
      background-color: #f4f4f4;
      color: #000;
      font-weight: bold;
      opacity: 1;
    }
  }
}
