<div class="home-page">
  <div class="practice-test">
    <div class="practice-test__header">
      <div>Questão: <span class="bold">7</span>/<span>{{ questions.length }}</span></div>
      <p-button
        (onClick)="toggleShowList()"
        styleClass="p-button-secondary"
        icon="pi {{ showList ? 'pi-filter-slash' : 'pi-filter-fill' }}">
      </p-button>
    </div>

    <app-question class="practice-test__question" [question]="selectedQuestion"></app-question>

    <aside class="practice-test__list" [ngClass]="{'practice-test__list--hidden': !showList}">
      <div class="items">
        <ng-container *ngFor="let question of questions; index as i">
          <p-button
            (onClick)="updateSelectedQuestion(question.id)"
            styleClass="p-button-rounded p-button-success">
            {{ i + 1 }}
          </p-button>
        </ng-container>
      </div>
      <p-button label="Cancelar simulado" styleClass="p-button-danger"></p-button>
    </aside>

    <div class="practice-test__footer">
      <p-button icon="pi pi-arrow-left" label="Anterior" styleClass="p-button-success"></p-button>
      <p-button
        icon="pi pi-arrow-right"
        iconPos="right"
        label="Próximo"
        styleClass="p-button-success">
      </p-button>
    </div>
  </div>
</div>
