<div class="home-page">
  <div class="practice-test">
    <div class="practice-test__header">
      <div>Questão: <span class="bold">7</span>/<span>65</span></div>
      <p-button
        (onClick)="toggleShowList()"
        styleClass="p-button-secondary"
        icon="pi {{ showList ? 'pi-filter-slash' : 'pi-filter-fill' }}">
      </p-button>
    </div>

    <ng-container *ngIf="question; else skeleton">
      <article class="practice-test__question">
        <div class="topics bold">
          Tópicos:
          <span *ngFor="let topic of topics; last as isLast">
            {{ topic }}{{ isLast ? '' : ', ' }}
          </span>
        </div>

        <h1 class="title">
          <strong>
            ( {{ (question.instituteId | findInstitute) + (!!question.year ? ' - ' +
            question.year:'') }} )
          </strong>
          <ng-container *ngFor="let part of contentParts">
            <ng-container *ngIf="part.type === 'image'; else simpleHtml">
              <app-rich-image
                *ngIf="part.src"
                [src]="part.src"
                [alt]="part.alt"
                [width]="part.width"
                [title]="part.title"
                [subtitle]="part.subtitle">
              </app-rich-image>
            </ng-container>
            <ng-template #simpleHtml>
              <app-katex-html *ngIf="part.content" [html]="part.content" fontSize="20px">
              </app-katex-html>
            </ng-template>
          </ng-container>
        </h1>

        <form class="answers" [formGroup]="form">
          <ng-container *ngFor="let answer of question.answerOptions; index as i">
            <label [ngClass]="{ selected: form.controls['selectedAnswer'].value === i }">
              <p-radioButton inputId="{{ i }}" [value]="i" formControlName="selectedAnswer">
              </p-radioButton>
              <span class="bold">{{ upperLetters[i] }}.</span>
              <app-katex-html [html]="answer"></app-katex-html>
            </label>
          </ng-container>
        </form>

        <p-button
          styleClass="p-button-secondary"
          label="Show Answer"
          [loading]="isLoading"
          (onClick)="load()">
          <i *ngIf="!isLoading" class="icon pi pi-eye"></i>
        </p-button>
      </article>
    </ng-container>
    <ng-template #skeleton>
      <article class="practice-test__question">
        <p-skeleton height="19px" [style]="{ 'background-color': '#393a42' }"></p-skeleton>

        <h1 style="display: flex; flex-direction: column; gap: 4px">
          <ng-container *ngFor="let value of [97, 87, 92]">
            <p-skeleton
              [width]="value + '%'"
              height="21px"
              [style]="{'background-color': '#393a42'}">
            </p-skeleton>
          </ng-container>
        </h1>

        <div class="answers">
          <ng-container *ngFor="let answer of [].constructor(5)">
            <p-skeleton
              height="45px"
              [style]="{'background-color': '#25262e', 'border': '1px solid #ffffff33'}">
            </p-skeleton>
          </ng-container>
        </div>

        <p-skeleton width="154px" height="40px" [style]="{'background-color': '#393a42'}">
        </p-skeleton>
      </article>
    </ng-template>

    <aside class="practice-test__list" [ngClass]="{'practice-test__list--hidden': !showList}">
      <div class="items">
        <p-button
          *ngFor="let item of items; index as i"
          styleClass="p-button-rounded p-button-success">
          {{ i + 1 }}
        </p-button>
      </div>
      <p-button label="Cancelar simulado" styleClass="p-button-danger"></p-button>
    </aside>

    <div class="practice-test__footer">
      <p-button icon="pi pi-arrow-left" label="Anterior" styleClass="p-button-success"></p-button>
      <p-button
        icon="pi pi-arrow-right"
        iconPos="right"
        label="Próximo"
        styleClass="p-button-success">
      </p-button>
    </div>
  </div>
  <div class="home-page__feedback">
    <app-question-feedback [disabled]="true" [questionId]="'XYZ'"></app-question-feedback>
  </div>
</div>
