<div class="home-page">
  <div class="practice-test">
    <div class="practice-test__header">
      <div>Questão: <span class="bold">7</span>/<span>65</span></div>
      <p-button
        (onClick)="toggleShowList()"
        styleClass="p-button-secondary"
        icon="pi {{ showList ? 'pi-filter-slash' : 'pi-filter-fill' }}">
      </p-button>
    </div>

    <article class="practice-test__question">
      <div class="topics bold">
        Tópicos:
        <span *ngFor="let topic of topics; last as isLast">
          {{ topic }}{{ isLast ? '' : ', ' }}
        </span>
      </div>
      <h1 class="title" *ngIf="question">
        <strong *ngIf="question.instituteId">
          ({{ (question.instituteId | findInstitute) + (!!question.year ? ' - ' + question.year :'')
          }})
        </strong>
        <ng-container *ngFor="let part of contentParts">
          <ng-container *ngIf="part.type === 'image'; else simpleHtml">
            <app-rich-image
              *ngIf="part.src"
              [src]="part.src"
              [alt]="part.alt"
              [width]="part.width"
              [title]="part.title"
              [subtitle]="part.subtitle">
            </app-rich-image>
          </ng-container>
          <ng-template #simpleHtml>
            <app-katex-html *ngIf="part.content" [html]="part.content" fontSize="20px">
            </app-katex-html>
          </ng-template>
        </ng-container>
      </h1>
      <form class="answers" [formGroup]="form">
        <ng-container *ngFor="let answer of answers; index as i">
          <label
            [ngClass]="{ selected: form.controls['selectedAnswer'].value === answer.title }"
            [for]="answer.id">
            <p-radioButton
              [inputId]="answer.id"
              [value]="answer.title"
              formControlName="selectedAnswer">
            </p-radioButton>
            <span class="bold">{{ upperLetters[i] }}.</span>
            <span>{{ answer.title }}</span>
          </label>
        </ng-container>
      </form>
      <p-button
        styleClass="p-button-secondary"
        label="Show Answer"
        [loading]="isLoading"
        (onClick)="load()">
        <i *ngIf="!isLoading" class="icon pi pi-eye"></i>
      </p-button>
    </article>

    <aside class="practice-test__list" [ngClass]="{'practice-test__list--hidden': !showList}">
      <div class="items">
        <p-button
          *ngFor="let item of items; index as i"
          styleClass="p-button-rounded p-button-success">
          {{ i + 1 }}
        </p-button>
      </div>
      <p-button label="Cancelar simulado" styleClass="p-button-danger"></p-button>
    </aside>

    <div class="practice-test__footer">
      <p-button icon="pi pi-arrow-left" label="Anterior" styleClass="p-button-success"></p-button>
      <p-button
        icon="pi pi-arrow-right"
        iconPos="right"
        label="Próximo"
        styleClass="p-button-success">
      </p-button>
    </div>
  </div>
  <div class="home-page__feedback">
    <app-question-feedback [disabled]="true" [questionId]="'XYZ'"></app-question-feedback>
  </div>
</div>
