<div class="form-institute">
  <form class="form-institute__form" [formGroup]="form">
    <div class="flex flex-column gap-1">
      <label class="label">Sigla</label>
      <input pInputText formControlName="acronym" />
    </div>

    <div class="flex flex-column gap-1">
      <label class="label">Nome</label>
      <input pInputText formControlName="name" />
    </div>

    <div class="flex flex-column gap-1">
      <label class="label">Status</label>
      <p-dropdown
        formControlName="status"
        [options]="instituteStatus"
        optionLabel="name"
        styleClass="w-full"
        appendTo="body">
      </p-dropdown>
    </div>

    <div class="form-institute__actions">
      <p-button
        (onClick)="cancel()"
        label="Cancelar"
        styleClass="w-full p-button-sm p-button-warning">
      </p-button>
      <p-button
        (onClick)="confirm()"
        [disabled]="form.invalid"
        label="Confirmar"
        styleClass="w-full p-button-sm p-button-success">
      </p-button>
    </div>
  </form>
</div>
