.button {
  width: 100%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 200ms ease;

  &--red {
    background-color: #dc3545;
  }

  &--green {
    background-color: #28a745;
  }

  &--blue {
    background-color: #007bff;
  }

  &--yellow {
    background-color: #ffc107;
    color: #000;
  }

  &--small {
    padding: 8px 16px;
  }

  &--normal {
    padding: 16px;
  }

  &:hover {
    opacity: 1;
  }
}
