.users {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    min-height: 74px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    background-color: #f4f4f4;
    gap: 16px;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  .overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
