.users {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .form {
    display: grid;
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 50%);
    color: #fff;
    font-weight: 700;
    grid-template-columns: repeat(6, 1fr);

    .value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      &--row {
        flex-direction: row;
      }
    }
  }
}
