<aside class="side-menu">
  <ul class="side-menu__list">
    <ng-container *ngFor="let item of menuItems">
      <li class="side-menu__item" *ngIf="item.isEnabled">
        <a
          class="side-menu__link"
          [routerLink]="item.route"
          routerLinkActive="side-menu__link--active">
          <span class="pi {{ item.icon }}"></span>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
  <p-button label="Logout" styleClass="p-button-danger w-full" (onClick)="logout()"></p-button>
</aside>

<main>
  <router-outlet></router-outlet>
</main>
