<div class="question-preview">
  <article class="question-preview__wrapper">
    <div class="flex flex-column gap-1">
      <div class="topics bold">
        Matéria: <span>{{ question.subjectId | findSubject }}</span>
      </div>
      <div class="topics bold">
        Tópicos:
        <span *ngFor="let topic of question.relatedTopicIds; last as isLast">
          {{ topic | findRelatedTopic }}{{ isLast ? '' : ', ' }}
        </span>
      </div>
    </div>

    <div class="title">
      <span class="bold">({{ question.instituteId | findInstitute }})</span>
      {{ question.statement }}
    </div>
    <form class="answers" [formGroup]="form">
      <ng-container *ngFor="let answer of question.answerOptions; index as i">
        <label [ngClass]="{ selected: form.controls['selectedAnswer'].value === answer.text }">
          <p-radioButton inputId="{{ i }}" [value]="answer.text" formControlName="selectedAnswer">
          </p-radioButton>
          <span class="bold">{{ upperLetters[i] }}.</span>
          <span>{{ answer.text }}</span>
        </label>
      </ng-container>
    </form>
  </article>
</div>
