<div class="question-preview">
  <article class="question-preview__wrapper">
    <div class="flex flex-column gap-1">
      <div class="topics bold">
        Matéria: <span>{{ question.subjectId | findSubject }}</span>
      </div>
      <!-- TODO: Atualizar a busca de tópicos para refatorar aqui -->
      <!-- <div class="topics bold">
        Tópicos:
        <span *ngFor="let topic of question.relatedTopicIds; last as isLast">
          {{ topic | findRelatedTopic }}{{ isLast ? '' : ', ' }}
        </span>
      </div> -->
    </div>

    <h1 class="title">
      <strong *ngIf="question.instituteId">
        ({{
          (question.instituteId | findInstitute) + (!!question.year ? ' - ' + question.year : '')
        }})
      </strong>
      <ng-container *ngFor="let part of contentParts">
        <ng-container *ngIf="part.type === 'image'; else simpleHtml">
          <app-rich-image
            *ngIf="part.src"
            [src]="part.src"
            [alt]="part.alt"
            [width]="part.width"
            [title]="part.title"
            [subtitle]="part.subtitle">
          </app-rich-image>
        </ng-container>
        <ng-template #simpleHtml>
          <app-katex-html *ngIf="part.content" [html]="part.content" fontSize="20px">
          </app-katex-html>
        </ng-template>
      </ng-container>
    </h1>

    <form class="answers" [formGroup]="form">
      <ng-container *ngFor="let answer of question.answerOptions; index as i">
        <label [ngClass]="{ selected: question.rightAnswer === i }">
          <p-radioButton inputId="{{ i }}" [value]="i" formControlName="selectedAnswer">
          </p-radioButton>
          <span class="bold">{{ upperLetters[i] }}.</span>
          <app-katex-html [html]="answer"></app-katex-html>
        </label>
      </ng-container>
    </form>
  </article>
</div>
