<div class="question-preview">
  <article class="question-preview__wrapper">
    <div class="flex flex-column gap-1">
      <div class="topics bold">
        Matéria: <span>{{ question.subjectId | findSubject }}</span>
      </div>
      <!-- TODO: Atualizar a busca de tópicos e refatorar aqui -->
      <!-- <div class="topics bold">
        Tópicos:
        <span *ngFor="let topic of question.relatedTopicIds; last as isLast">
          {{ topic | findRelatedTopic }}{{ isLast ? '' : ', ' }}
        </span>
      </div> -->
    </div>

    <h1 class="title">
      <strong *ngIf="question.instituteId">
        ({{
          (question.instituteId | findInstitute) + (!!question.year ? ' - ' + question.year : '')
        }})
      </strong>
      <ng-container *ngFor="let part of contentParts">
        <markdown
          *ngIf="part.type === 'markdown'; else other"
          katex
          [inline]="true"
          [data]="part.text">
        </markdown>
        <ng-template #other>
          <ng-container *ngIf="part.type === 'image'; else simpleText">
            <app-rich-image [src]="part.text"></app-rich-image>
          </ng-container>
          <ng-template #simpleText>
            {{ part.text }}
          </ng-template>
        </ng-template>
      </ng-container>
    </h1>
    <form class="answers" [formGroup]="form">
      <ng-container *ngFor="let answer of question.answerOptions; index as i">
        <label [ngClass]="{ selected: question.rightAnswer === i }">
          <p-radioButton inputId="{{ i }}" [value]="i" formControlName="selectedAnswer">
          </p-radioButton>
          <span class="bold">{{ upperLetters[i] }}.</span>
          <span>{{ answer }}</span>
        </label>
      </ng-container>
    </form>
  </article>
</div>
